* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
html{
    
    font-size: 0.8rem;
}
header {
    background-image: url("../image/header.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 30rem;
    justify-content: space-between;
    padding: 2rem;
}

h1 {
    color: white;
    line-height: 4rem;
    white-space: pre-line;
    font-size: 2.5rem;
}
h2 {
    font-weight: 100;
    margin: 2rem;
    text-align: center;
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
    line-height: 3rem;
}

p{
    line-height: 2rem;
}
nav{
    align-self: flex-end;
    
}
nav ul{
    display: flex;

    list-style: none;
}

nav ul li{

    
    padding: 1rem;

}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}
section {
    padding: 2rem;
}

section#nosotros>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section#nosotros>div>div{
    max-width: 300px;
    text-align: center;
    margin: 1rem;
}
section#nosotros>div>div h3{
    font-size: 2rem;
    margin: 2rem 0;
}
.nav{
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: column;

}

main>.maincuerpo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
main article{
    margin: 1rem;
    width: 300px;
    background-color: #f3f3f3;
    border: 1px solid #cccccc;

}
main img{
    width: 300px;
}

main article>div{
    margin: 1rem;
}
main article p{
    text-align: justify;
}
main article a{
    background-color: orange;
    color: white;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 1rem;
    
}
main .mainpie a{
    padding: 1rem 2rem;
    background-color:#78a915;
    color: white;
    text-decoration: none;
    margin: 2rem 3rem;
}
.mainpie{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}
.caracteristicas{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
}
.caracteristicas img{
    width: 40px;
}

.precio{
    color: #97cc19;
}

.contacto{
    padding: 3rem 2rem 2rem 2rem;
    height: 25rem;
    background-image: url("../image/encuentra.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    color: white;
}
.contacto a{
    color: white;
    text-decoration: none;
    background-color: orange;
    padding: 1rem 2rem;
}
.contacto h2{
    padding: 0;
    margin: 0;
}

@media(min-width: 800px){
    .nav{
        flex-direction: row;
        justify-content: space-between;
    }
    .mainpie{
        justify-content: flex-start;
    }
}